In [ ]:
import pandas as pd
import numpy as np

tt = pd.read_excel ("Truth_Table.xlsx")
print (tt)

   P  Q  R  X
0  0  0  0  1
1  0  0  1  0
2  0  1  0  1
3  0  1  1  0
4  1  0  0  0
5  1  0  1  0
6  1  1  0  1
7  1  1  1  1

In [ ]:
p1=tt.loc[tt['X'] == 1]
p1

   P  Q  R  X
0  0  0  0  1
2  0  1  0  1
6  1  1  0  1
7  1  1  1  1

In [ ]:
p1.drop(['X'], axis=1,inplace=True)
p1

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   P  Q  R
0  0  0  0
2  0  1  0
6  1  1  0
7  1  1  1

In [ ]:
def b2d(n):
    return int(n,2)

In [ ]:
p2=p1.astype(str)
p2

   P  Q  R
0  0  0  0
2  0  1  0
6  1  1  0
7  1  1  1

In [ ]:
p2['Merged'] = p2.apply(''.join, axis=1)
p2

   P  Q  R Merged
0  0  0  0    000
2  0  1  0    010
6  1  1  0    110
7  1  1  1    111

In [ ]:
p2['decimal'] = p2.apply(lambda row : b2d(row['Merged']), axis = 1)
p2

   P  Q  R Merged  decimal
0  0  0  0    000        0
2  0  1  0    010        2
6  1  1  0    110        6
7  1  1  1    111        7

In [ ]:
p3=p2.decimal
p3

0    0
2    2
6    6
7    7
Name: decimal, dtype: int64

In [ ]:
p4=p3.to_numpy()
print("So,minterms are:",p4[:])

So,minterms are: [0 2 6 7]